<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Eat Da Burger Application</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="../../controllers/burgers_controller.js"></script>
        <style>
            body {
                background-color: orangered
            }

            #NotEatenCol{
                background-color: white;
                border-radius: 30px;
            }

             #EatenCol{
                background-color: white;
                border-radius: 30px;
            }

            h1{
                font-family: 'Righteous', cursive;
            }

            h2 {
                font-family: 'Staatliches', cursive;
            }

        </style>
    </head>
    <body>
        {{{ body }}}
    </body>
</html>