<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Eat Da Burger</h1>
        </div>
        <div class="col-md-12">
            <div class="text-center">
                <img src="/assets/img/Burger.jpg" alt="Burger" height="150" width="150">
            </div>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5" id="NotEatenCol">
            <br>
                <h2 class="text-center">Burgers on Deck!</h2>
                <ul>
                    {{#each burgers}}
                        {{#unless devoured}}
                    <li>
                        {{burger_name}}

                        <form action="/{{this.id}}" method="POST">
                        <input type="hidden" name="devoured" value="true">
                        <button class="btn-success" type="submit">Eat Up!</button>
                        </form>
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>

        <div class="col-md-5" id="EatenCol">
            <br>
            <h2 class="text-center">Burgers Devoured!</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    {{burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h2>Add More Delicious Burgers to the Menu!</h2>
                <form class="create-form" action="/" method="POST">
                <div class="form-group">
                    <p><strong>Enter in a new burger and press submit!</strong></p>
                    <input type="text" name="burger_name">
                </div>

                <button class="btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>